<h1>Restablecer Contraseña</h1>
<form action="/api/users/reset-password" method="POST">
    <label for="email"> Email: </label>
    <input type="email" name="email" required>

    <label for="token">Número de confirmación: </label>
    <input type="text" name="token" id="token" required>
    
    <label for="password"> Nueva password: </label> 
    <input type="password" name="password" id="password" required>
    
    <button type="submit"> Restablecer </button>
</form>

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<style>
    .error {
        color:red;
    }
</style>