
<div class="realtime__container">
    <h2>Monitoreo de stock de productos en tiempo real</h2>

    <ol id="lista-productos" class="lista-productos">
        <!-- Aquí se actualizarán dinámicamente los productos -->
    </ol>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="js/main.js"></script>
</div>
