


    <div class="upload__container">
        <h2>Acceso denegado!</h2>       <br>
            
        <div class="upload__container--title">
            <input type="text" name="first_name" placeholder="Nombre" required>
        </div>

    </div>
</form>
